/************************************************************/
/* ****************** Responsive Blog page ******************/
/************************************************************/

/*** IMPORT ***/
@import "blog-color.css";

/*** mobile responsive ***/
.container {
   display: grid;
   grid: 
   "header"
   "main"
   "aside"
   "footer"
   / 1fr;
} 

/*** full screen and tables responsive ***/
@media all and (min-width: 768px) {
   
   .container {
      grid: 
      "header header"
      "main aside"
      "footer footer"
      / 1fr 30%;
   }
   section {
      font-size: 1.125rem;
   }
}

header {
   grid-area: header;
}

main {
   grid-area: main;
}

aside {
   grid-area: aside;
}

footer {
   grid-area: footer;
}