
/* 
section {
   display: flex;
   justify-content: center;
   text-align: center;
}

article {
   padding: 40px;
   background-color: #d9ecec;
   grid-area: article;
}

header {
   background-color: #9ff0f0;
   grid-area: header;
}


aside h3 {
   display: flex;
   justify-content: center;
}
.social-media-logos {
   display: flex;
   justify-content: center;
}


aside {
   background-color: #d9ecec;
   grid-area: aside;
}


footer {
   background-color: #376b6b;
   grid-area: footer;
} 

.container {
   height: 100vh;
   display: grid;
   grid-template-columns: 800px 200px;
   grid-template-rows: 80px auto 80px;
   grid-template-areas: 
   "header header"
   "article aside"
   "footer footer";
}   


@media only screen and (max-width: 768px) { 
   .container {
      display: grid;
      grid-template-columns: 700px;
      grid-template-rows: auto auto auto auto ;
      grid-template-areas: 
      "header"
      "article"
      "aside"
      "footer";
   } 
}    
 */
