/*** IMPORTS ***/
@import "style-color.css";

.wrapper-blogs {
   display: grid; 
   grid: 
   "article1"
   "article2"
   "article3" /
   1fr;
}

@media all and (min-width: 768px) {
   .wrapper-blogs {
      grid: 
      "article1 article2 article3"
      / 1fr 1fr 1fr;
   }

   body {
      font-size: 1.125rem;
   }
 
} 

.blog1 {
   grid-area: article1;
}

.blog2 {
   grid-area: article2;
}

.blog3 {
   grid-area: article3;
}

